<footer class="footer">
  <div class="footer-inner">
    <h3>
							<a href="https://rdbit.ru">rdbit.ru</a>

							<a href="https://rdb24.com">rdb24.com</a>
		
		</h3>
    
    <h3>
				<a href="tel:+7 831 429 0 433"> +7 (831) 429-0-433</a>
		</h3>
  </div>
</footer>
