<footer class="footer">
  <div class="footer-inner">
    <H1> </H1>
    <h2>Сайт RDB24: <a href="https://rdbit.ru">rdbit.ru</a></h2>
    <h2>Телефон: <a href="tel:+7 831 429 0 433"> +7 (831) 429-0-433</a></h2>
  </div>
</footer>
