<footer class="footer">
  <div class="footer-inner">
    <h3>
				<li class="icon alt fa-link">
							<a href="https://rdbit.ru">rdbit.ru</a>
				</li>
        <li class="icon alt fa-link">
							<a href="https://rdb24.com">rdb24.com</a>
				</li>
		</h3>
    
    <h3>
				<li class="icon alt fa-phone"><a href="tel:+7 831 429 0 433"> +7 (831) 429-0-433</a></li>
		</h3>
  </div>
</footer>
