<footer class="footer">
  <div class="footer-inner">
    <h4>Сайт: <a href="https://rdbi24.ru">rdb24.ru</a></h4>
    <h4>Телефон: <a href="tel:+7 831 429 0 433"> +7 (831) 429-0-433</a></h4>
    <h4><a href="https://t.me/agile4dev">Agile🚀Dev - Telegram Канал о бизнес трансфомаци, подходах к Agile, DevOps и разработке.</a> </h4> 
    <h4><a href="https://msklv.medium.com/">Блог основателя RDB24 - 🔖Михаила Соколова — про 🏈Scrum мастерство и разработку сложных продуктов</a> </h4> 
    <h4>English version: <a href="https://rdb24.com">rdb24.com</a></h4>
  </div>

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(54941836, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/54941836" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->


</footer>
